{% extends 'base.html' %}
{% block title %}macdonald{% endblock %}
{% block content %}
    <form class="pure-form" action="/macdonald_order_form/" method="post">
         {% csrf_token %}
        <fieldset>
            <legend>Macdonald order form</legend>
            <label for="state">商品</label>
            <select id="product" name="product">
                <option value="麥香魚">麥香魚</option>
                <option value="薯條">薯條</option>
                <option value="可樂">可樂</option>
            </select>
            <input type="number" placeholder="數量" id="amount" name="amount">
            <button type="submit" class="pure-button pure-button-primary">買</button>
        </fieldset>
    </form>
    {{ data }}
    <form class="pure-form">
        <fieldset>
            <legend>Order list</legend>
        </fieldset>
        <table class="pure-table pure-table-bordered">
    <thead>

        <tr>
            <th>商品</th>
            <th>數量</th>
        </tr>

    </thead>

    <tbody>
        <tr>
            <td>{{ data.product }}</td>
            <td>{{ data.amount }}</td>
        </tr>
    </tbody>
</table>
    </form>
{% endblock %}